<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Books</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
            </tr>
        </tbody>
    </table>
    
    <div th:if="${totalPages > 1}">
        <ul class="pagination">
            <li th:class="${currentPage == 1} ? 'disabled' : ''">
                <a th:href="@{${currentPage > 1} ? '/books?page=' + ${currentPage - 1} : '#'}">&laquo; Previous</a>
            </li>
            
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage} ? 'active' : ''">
                <a th:href="@{'/books?page=' + ${pageNumber}}" th:text="${pageNumber}" class="nav-link"></a>
            </li>
            
            <li th:class="${currentPage == totalPages} ? 'disabled' : ''">
                <a th:href="@{${currentPage < totalPages} ? '/books?page=' + ${currentPage + 1} : '#'}">Next &raquo;</a>
            </li>
        </ul>
    </div>
    
    
    
</body>
</html>
